#gameArea {
    border: solid black 5px;
    position: relative;
    width: 800px;
    height: 800px;
    /*background-image: url("cat1234.png");*/
}

.tile {
    position: absolute;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}